<footer class="footer mt-auto">
  <div class="d-flex align-items-center mx-2">
    <!-- Locale -->
    <div class="mr-auto p-2">
      <%- include('./locale') -%>
    </div>

    <!-- Github -->
    <div class="p-2">
      <a class="text-secondary text-decoration-none" href="https://github.com/ray-hrst/connect_webapp">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>
