<footer class="footer mt-auto py-1">
  <div class="container text-center">
    <a class="text-secondary" href="https://github.com/ray-hrst/connect_webapp">
      <i class="fab fa-github"></i>
    </a>
  </div>
</footer>
