<div class="btn-group dropup">
  <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-globe"></i>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/locale/en">English</a>
    <a class="dropdown-item" href="/locale/jp">日本語</a>
  </div>
</div>