<div id="serial" style="display:none"><%= serial %></div>

<!-- Toolbar -->
<div class="row m-2">
  <div class="col">
    <div class="d-flex m-2">
      <!-- Breadcrumbs -->
      <div class="mr-auto p-2">
        <a href="/devices"><%= polyglot.t("dashboard.devices")%></a><span class="text-muted"> / <%= serial %> </span>
      </div>

      <!-- Video -->
      <div class="p-2">
        <button class="btn btn-primary" type="button" id="btn-video"><i class="fas fa-video"></i></button>
      </div>

      <!-- Logs -->
<!--       <div class="p-2">
        <button class="btn btn-primary" type="button" id="btn-logs"><i class="fas fa-file-alt"></i></button>
      </div> -->

      <!-- Go To Dropdown-->
      <div class="p-2">
        <div id="input-goto" class="input-group"></div>
      </div>
    </div>
  </div>
</div>

<!-- Device Audio & Video Area -->
<div class="row m-2" style="height: calc(100% - 220px)">
  <!-- <div class="col" style="background-color: #123456"> -->
  <div class="col">
    <div id="div-video"></div>
  </div>
</div>

<!-- Command Line -->
<div class="row mx-2 my-1">
  <div class="col">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-terminal"></i></span>
      </div>
      <input 
        type="text" 
        id="input-command"
        name="command"
        class="form-control" 
        placeholder="Command" 
        aria-label="Command"
        autocomplete="off"
      />
      <div class="input-group-append">
        <button id="btn-command" class="btn btn-primary"><i class="fas fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</div>

<!-- Overlay -->
<!-- <span id="device-battery">Battery</span>  -->

<!-- Jitsi-->
<!-- https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md-->
<script type="text/javascript" src="https://meet.jit.si/external_api.js"></script>

<!-- Socket.IO -->
<script src="/socket.io/socket.io.js"></script>

<!-- Custom -->
<script type="module" defer src="/js/dashboard.js"></script>
<script type="text/javascript" src="/js/keyboard.js"></script>
<script type="text/javascript" src="/js/gamepad.js"></script>
<script type="text/javascript" src="/js/video.js"></script>