<div id="serial" style="display:none"><%= serial %></div>

<div class="row m-2 align-items-center">

  <div class="col-4 mx-auto">
    <a href="/devices">Devices</a><span class="text-muted"> / <%= serial %> </span>
  </div>

  <div class="col-4 mx-auto">
    <button class="btn btn-primary" type="button" id="btn-video"><i class="fas fa-video"></i></button>
  </div>

  <div class="col-4 mx-auto">
    <div id="input-goto" class="input-group"></div>
  </div>

</div>

<!-- Device Audio & Video -->
<div class="row m-2" style="height: calc(100% - 200px)">
  <!-- <div class="col" style="background-color: #123456"> -->
  <div class="col">
    <div id="div-video"></div>
  </div>
</div>

<!-- Command Line -->
<div class="row m-2">
  <div class="col">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-terminal"></i></span>
      </div>
      <input 
        type="text" 
        id="input-command"
        name="command"
        class="form-control" 
        placeholder="Command" 
        aria-label="Command"
        autocomplete="off"
      />
      <div class="input-group-append">
        <button id="btn-command" class="btn btn-primary"><i class="fas fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</div>

<!-- Overlay -->
<!-- <span id="device-battery"></span>  -->

<!-- Jitsi-->
<!-- https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md-->
<script type="text/javascript" src="https://meet.jit.si/external_api.js"></script>

<!-- Socket.IO -->
<script src="/socket.io/socket.io.js"></script>

<!-- Custom -->
<script type="module" defer src="/js/dashboard.js"></script>
<script type="text/javascript" src="/js/keyboard.js"></script>
<script type="text/javascript" src="/js/gamepad.js"></script>
<script type="text/javascript" src="/js/video.js"></script>