<master class="m-2">
  <div class="container">

    <!-- Add Device Form -->
    <form action="/devices/add" method="POST">
      <div class="form-row align-items-center">
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
            </div>
            <input
              type="text",
              id="name" 
              name="name" 
              class="form-control" 
              placeholder="Device name" 
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-qrcode"></i></span>
            </div>
            <input
              type="tel"
              id="serial" 
              name="serial" 
              class="form-control" 
              placeholder="Serial number"
              minlength="11" 
              maxlength="11" 
              size="11"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary btn-block">Add</button>
        </div>
      </div>
    </form>

    <!-- Device List -->
    <div class="row m-5">
      <div class="col">
        <div id="list-device" class="list-group"></div>
      </div>
    </div>

  </div>

</master>

<!-- Custom -->
<script type="text/javascript" src="/js/devices.js"></script>