<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">
      <div class="card text-center" style="width: 26rem;">
          <div class="card-body">
            <h4 class="card-title text-center">Log in to your account</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>